body {
    font-size: inherit !important;
}

.not-found{
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.not-found i{
    font-size: 6em;
    margin-top:0.5em;
}

i.material-icons + span {
    transform: translateY(-7px);
    display: inline-block !important;
}

div#loadmore {
    margin: 0.5rem auto;
}

a.navbar-brand .logo {
    max-height: 40px;
    max-width: 40px;
}

#footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1;
}

div#main, div#transaction, div#block{
    padding-top: 6rem;
    padding-bottom: 3.85rem;
}

div#transaction .card.card-body{
    overflow-x: auto;
}

div#transaction .card.card-body p {
    margin-bottom: 0;
}

img.moniker-avatar-list{
    height: 24px;
    margin-right: 5px;
    /* box-shadow: rgba(0,0,0,0.8) 0px 0px 1px; */
    border: 1px solid rgba(0,0,0,0.3);
}

div.validator-list div.header div:not(.status){
    cursor: pointer;
}

div.validator-list div.validator-info div.data{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.validator-list div.validator-info div.data span.moniker{
    line-height: 1.5;
}

div.validator-list div.validator-info div.data.proposer-priority{
    padding-right: 15px;
}

div.header span{
    font-weight: bold;
}

div.validator-list div.header div.last-seen span.d-md-none{
    transform: translateY(-1px);;
}

/* div.validator-list div.header .voting-power{
    font-family: inherit !important;
} */

table#block-table, 
table.random-validators, 
table.validator-list,
table.proposal-list {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;    
}
table#block-table td, 
table.random-validators td,
table.validator-list td,
table.proposal-list td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table th.voting-power,
table td.voting-power{
    text-align:right;
}

/* .data.commission,
.data.self-delegation,
.voting-power:not(th){
    font-family: monospace !important;
} */

table.random-validators th.moniker{
    width: 35%;
}

table.random-validators th.voting-power{
    width: 35%
}

table.random-validators th.uptime{
    width: 30%;
}

table.validator-list th{
    border-bottom: none !important;
}

table.validator-list th:not(.status){
    cursor:pointer;
}

table.validator-list th.moniker{
    width: 15%;
}

table.validator-list th.voting-power{
    width: 25%
}

table.validator-list th.status{
    width: 10%;
}

table.validator-list th.uptime{
    width: 30%;
}

table.validator-list th.proposer-priority{
    width: 15%;
}

table.validator-list th.last-seen{
    width: 35%;
}

table.proposal-list th.status{
    width: 15%;
}

.status .value{
    display: block;
    font-weight: 100;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

div#countdown {
    display: inline-block;
    width: auto;
    font: inherit;
    margin-top: 2em;
}

#countdown.flip-clock-wrapper ul li a div div.inn,
#countdown .flip-clock-dot{
    background-color: #bd081c;
}

.consensus-state.status .card-subtitle{
    margin-top: 0;
    font-size: 1em;
    line-height: inherit;
}

.consensus-state.status .value{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#home .card, #transaction .card, #block .card{
    /* margin: 0 0 0.75em 0; */
    margin-bottom: 0.75em;
}

.progress{
    height: inherit !important;
    font-size: inherit !important;
    border: 1px solid #ddd !important;
}

.tally-result .progress-bar {
    height: 4em;
}

.proposal{
    padding: 1em;
    margin-bottom: 1em;
}

.proposal .label, 
.proposal .value {
    padding: 0.3em;
    word-wrap: break-word;
}

.proposal .value .tally-result-value{
    white-space: nowrap;
}

.proposal .tally-result-detail{
    overflow: hidden;
    width: 100%;
}


.proposal .tally-result-detail ol{
    border-radius: 0.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff9fa;
    white-space: nowrap;
    overflow: auto;
}

.proposal .tally-info{
    margin-top: 0.5em;
}

.proposal .label{
    font-weight: bold;
}

.proposal .tally-result i.fas{
    min-width: 1.5em;
}

.validator-details .moniker{
    font-size: 180%;
    margin: 0.25em 0;
}

.validator-details .validator-avatar{
    max-width: 150px;
    margin: 0 auto;
}

.validator-details .card{
    margin-bottom: 1em;
}

.address{
    white-space: nowrap;
    overflow-y: auto;
}

.vp-diff{
    display:inline-block;
    transform: translateY(-5px);
}

div.block-info,
div.tx-info{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #dee2e6;
}

.tx-info.invalid {
    background-color: rgba(237, 20, 61, 0.2) !important;
}

.error .alert-danger {
    margin-bottom: 0;
}

div#block-table div.block-info:nth-child(2n),
div.transactions-list div.tx-info:nth-child(2n){
    background-color: rgba(0,0,0,0.05);
}

div.transactions-list div.tx-info .activity{
    overflow-x: auto;
}

div.transactions-list div.tx-info .activity .card-body{
    overflow-x: auto;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.activity .card-body p{
    margin-bottom: 0;
}

div.transactions-list div.tx-info .activity .card-body ul {
    list-style: none;
    padding-left: 1em;
}

/* div.transactions-list div.tx-info .badge{
    margin-right: 0.2rem;
} */

.error .alert .badge {
    white-space: inherit;
    /* display: block; */
    text-align: left;
}

div.transactions-list div.tx-info .badge:not(:last-child) {
    margin-bottom: 0.2rem;
}

div#block-table div.header,
div.transactions-list div.header{
    padding-top: 0.3rem;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

.blocks-list{
    margin-top: 0.2em;
}

.blocks-list .block{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 0.2em;
    border: 0.1em solid #bd081c;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(163,163,163,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(163,163,163,1);
    box-shadow: 1px 1px 3px 0px rgba(163,163,163,1);
    border-radius: 3px;
}

.blocks-list .block .full{
    background-color: #bd081c;
}

.blocks-list .block .full,
.blocks-list .block .empty{
    height: 100%;
    width: 100%;
}

.power-history .voting-power {
    font-size: 160%;
    position: relative;
    top: -4px;
    transform: initial !important;
}

.power-history .card .card-footer{
    font-size: 85%;
}

.label {
    font-weight: bold;
}

.voting-power-card h1{
    display: inline-block;
    margin-right: 0.3em;
}

.missed-table{
    margin-top: 0.5em;
}

div#voting-power-dist .card{
    margin-top: 0.5em;
}

#block ul.tx-types{
    height: 3.5em;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#block ul.tx-types li {
    display: inline-block;
    margin: 0 0.75em 0.5em 0 !important;
}

#block ul.tx-types .nav-link{
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    div#main, div#transaction, div#block{
        padding-bottom: 4.85rem;
    }

    .flip-clock-wrapper ul{
        width: 37px;
        height: 50%;
        line-height: 50%;
    }

    .validator-list .card.card-body{
        margin-bottom: 0.8rem;
    }

    .mobile-menu li{
        width: 16.66%;
    }

    .mobile-menu li a{
        text-align: center;
    }
        
    div.validator-list div.validator-info img.moniker-avatar-list{
        height: 48px;
        float: left;
    }

    div.validator-list div.validator-info div.data span.moniker{
        float: left;
        margin-left: 3px;
        max-width:80%;
    }

    div.validator-list div.validator-info div.data.voting-power,
    div.validator-list div.validator-info div.data.status{
        margin-top: -25px;
    }

    #block ul.tx-types .nav-link{
        padding: 0.5em 0;
    }
}

@media only screen and (min-width: 768px){
    #validator-list div.validator-list {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #validator-list div.validator-list .data.proposer-priority,
    #validator-list div.validator-list .data.voting-power,
    #validator-list div.validator-list .header .voting-power{
        text-align: right;
    }

    #validator-list div.validator-list .card.card-body{
        padding: 0;
    }

    #validator-list div.validator-list .card{
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    #validator-list div.validator-list div.header{
        padding-top: 0.3rem;
        border-top: 1px solid #dee2e6;
        border-bottom: 2px solid #dee2e6;
    }

    div.validator-list div.header div,
    div.validator-list div.validator-info div.data:not(.counter){
        padding-left: 0;
        padding-right: 5px;
    }

    div.validator-list div.validator-info{
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-bottom: 1px solid #dee2e6;
    }

    div.validator-list div.card-body:nth-child(2n) div.validator-info{
        background-color: rgba(0,0,0,0.05);
    }

    div.transactions-list div.header,
    div.transactions-list div.tx-info{ 
        margin-left:0;
        margin-right:0;
    }

    .validator-info.row i.material-icons + span{
        transform: inherit;
    }
}

@media only screen and (max-width: 1023px){
    .navbar.fixed-top{
        padding: 0 1rem;
    }

    div#main, div#transaction, div#block {
        padding-top: 3.5rem;
        /* padding-bottom: 4.8rem; */
    }

    #validator-list ul.status-switch {
        position: fixed;
        background-color: #fff;
        width: 100%;
        z-index: 1;
        padding: 5px 0;
        margin-top: -5px
    }

    #validator-list .lead{
        padding-top: 2.5rem;
    }
}

@media only screen and (min-width: 1024px){
    .validator-info.row i.material-icons + span,
    .tx-info .fee i.material-icons + span {
        transform: inherit;
    }
}