@font-face {
    font-family: 'averta-thin';
    src: url('/fonts/averta_thin-webfont.woff2') format('woff2'),
         url('/fonts/averta_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta-webfont.woff2') format('woff2'),
         url('/fonts/averta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-bold';
    src: url('/fonts/averta_bold-webfont.woff2') format('woff2'),
         url('/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.not-found{
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.not-found i{
    font-size: 6em;
    margin-top:0.5em;
}

div#loading {
    visibility: hidden;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #bd081c; /* Forbole Red */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    align-self: center;
    position: fixed;
    z-index: 9999;
    top: 35%;
    left: 45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1;
}

div#main{
    padding-top: 6rem;
    padding-bottom: 2.6rem;
}

table#block-table{
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;    
}
table#block-table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table#block-table th.height{
    width: 15%;
}

table#block-table th.hash{
    max-width: 35%;
}

table#block-table th.no-of-txs{
    width: 20%;
}

table#block-table th.time{
    width: 30%;
}

