@font-face {
    font-family: 'averta-thin';
    src: url('/fonts/averta_thin-webfont.woff2') format('woff2'),
         url('/fonts/averta_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta-webfont.woff2') format('woff2'),
         url('/fonts/averta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-bold';
    src: url('/fonts/averta_bold-webfont.woff2') format('woff2'),
         url('/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: inherit !important;
}

.not-found{
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.not-found i{
    font-size: 6em;
    margin-top:0.5em;
}

div#loading {
    visibility: hidden;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #bd081c; /* Forbole Red */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    align-self: center;
    position: fixed;
    z-index: 9999;
    top: 35%;
    left: 45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1;
}

div#main{
    padding-top: 6rem;
    padding-bottom: 4.8rem;
}

img.moniker-avatar-list{
    height: 24px;
    margin-right: 5px;
}
table#block-table, 
table.random-validators, 
table.validator-list,
table.proposal-list {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;    
}
table#block-table td, 
table.random-validators td,
table.validator-list td,
table.proposal-list td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table th.voting-power,
table td.voting-power{
    text-align:right;
}

.voting-power:not(th){
    font-family: 'Inconsolata', monospace !important;
}

table#block-table th.height{
    width: 15%;
}

table#block-table th.hash{
    max-width: 35%;
}

table#block-table th.no-of-txs{
    width: 20%;
}

table#block-table th.time{
    width: 30%;
}

table.random-validators th.moniker{
    width: 35%;
}

table.random-validators th.voting-power{
    width: 35%
}

table.random-validators th.uptime{
    width: 30%;
}

table.validator-list th{
    border-bottom: none !important;
}

table.validator-list th:not(.status){
    cursor:pointer;
}

table.validator-list th.moniker{
    width: 15%;
}

table.validator-list th.voting-power{
    width: 25%
}

table.validator-list th.status{
    width: 10%;
}

table.validator-list th.uptime{
    width: 30%;
}

table.validator-list th.proposer-priority{
    width: 15%;
}

table.validator-list th.last-seen{
    width: 35%;
}

table.proposal-list th.status{
    width: 15%;
}


th i.material-icons{
    vertical-align: middle;
}
.status .value{
    display: block;
    font-family: "averta-thin", sans-serif;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

div#countdown {
    display: inline-block;
    width: auto;
    font: inherit;
    margin-top: 2em;
}

#countdown.flip-clock-wrapper ul li a div div.inn,
#countdown .flip-clock-dot{
    background-color: #bd081c;
}

.consensus-state.status .card-subtitle{
    margin-top: 0;
    font-size: 1em;
    line-height: inherit;
}

.consensus-state.status .value{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#home .card{
    margin: 0.75em 0;
}

.progress{
    height: inherit !important;
    font-size: inherit !important;
    border: 1px solid #ddd !important;
}

.proposal{
    padding: 1em;
    margin-bottom: 1em;
}

.proposal .label, 
.proposal .value {
    padding: 0.3em;
}

.proposal .label{
    font-weight: bold;
}

.proposal .tally-result i.fas{
    min-width: 1.5em;
}

.validator-details .moniker{
    font-size: 180%;
    margin: 0.25em 0;
}

.validator-details .validator-avatar{
    max-width: 150px;
    margin: 0 auto;
}

.validator-details .card{
    margin-bottom: 1em;
}

.address{
    white-space: nowrap;
    overflow-y: auto;
}

.vp-diff{
    display:inline-block;
    transform: translateY(-5px);
}

.blocks-list{
    margin-top: 0.2em;
}

.blocks-list .block{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 0.2em;
    border: 0.1em solid #bd081c;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(163,163,163,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(163,163,163,1);
    box-shadow: 1px 1px 3px 0px rgba(163,163,163,1);
    border-radius: 3px;
}

.blocks-list .block .full{
    background-color: #bd081c;
}

.blocks-list .block .full,
.blocks-list .block .empty{
    height: 100%;
    width: 100%;
}

.power-history .voting-power {
    font-size: 160%;
    position: relative;
    top: -4px;
}

.power-history .card .card-footer{
    font-size: 85%;
}

.label {
    font-weight: bold;
}

.voting-power-card h1{
    display: inline-block;
    margin-right: 0.3em;
}

.missed-table{
    margin-top: 0.5em;
}

@media screen and (max-width: 767px){
    .flip-clock-wrapper ul{
        width: 37px;
        height: 50%;
        line-height: 50%;
    }
}